---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout frontmatter={{ title: "Consulting" }}>
  <p>
    Bachelor in Software Engineering. I have worked in the IT market for over <strong
      >12 years</strong
    >, from <strong>startups</strong> to <strong>big techs</strong>.
  </p>
  <p>
    Since the beginning of my career, I have been interested in practices that
    improve <i class="font-bold">design, quality, and operation</i>. Later, in
    2015, I discovered that the community gave a name to this: <i>DevOps</i>.
  </p>
  <p>
    Currently working as an independent consultant on DevOps and Solution
    Architecture, I help small to medium companies <strong>reduce</strong> their
    costs in the cloud, <strong>modernize</strong> their software to scale, <strong
      >enhance
    </strong>
    the security of your network and data, and configure observability to <strong
      >continuous improvement</strong
    >.
  </p>

  <h2 class="font-display">What I can do for you</h2>
  <ul>
    <li>Cloud infrastructure (AWS, GCP, Azure, Digital Ocean, etc)</li>
    <li>Cloud Foundations (IAM, Networking, Security)</li>
    <li>CI/CD pipelines (GitHub Actions, GitLab CI, CircleCI)</li>
    <li>Infrastructure as Code (Terraform, Ansbile)</li>
    <li>Containerization (Docker, Kubernetes)</li>
    <li>Observability (Prometheus, Grafana, ELK, Graylog)</li>
    <li>Tunning and optimization of your applications.</li>
    <li>Software Architecture (Microservices, Monoliths, Serverless)</li>
    <li>Messaging (Kafka, RabbitMQ, SQS, SNS)</li>
  </ul>

  <h2 class="font-display">What I already done</h2>
  <p class="font-bold">2023 - present / Tipspace.gg</p>
  <ul>
    <li>Migrated the infrastructure from Heroku to AWS.</li>
    <li>Reduced the cost in the cloud by 30%.</li>
    <li>Configured Blue/Green deployment strategy.</li>
    <li>Automated CI/CD pipelines for continuous deployment.</li>
    <li>
      Configured observability with Prometheus and Grafana and logging with ELK.
    </li>
    <li>Configured cloud infrastructure with Terraform and Ansbile.</li>
    <li>Configured zero trust network at Cloudflare.</li>
  </ul>

  <p class="font-bold">2020 - 2023 / IBM</p>
  <ul>
    <li>Got certified as AWS Solutions Architect Associate.</li>
    <li>
      Mentored and taught 10+ internships in software development at IBM. A
      major number of my mentees and interships got promoted
    </li>
    <li>Got certified as AWS Cloud Practioner.</li>
    <li>
      Enhanced the performance of a banking application to improve user
      experience.
    </li>
    <li>
      Developed new features for a banking application with over 4 million
      active users.
    </li>
  </ul>

  <p class="font-bold">2018 - 2020 / NectarCRM</p>
  <ul>
    <li>
      Configured a release process with Git and CI/CD pipelines, caused a major
      improvement on deliveries.
    </li>
    <li>Taught teammates how to use advanced Git commands and Docker.</li>
    <li>Fine-tuned a Java application with 30% less resource usage.</li>
    <li>
      Configured observability with Prometheus and Grafana and logging with
      Graylog.
    </li>
    <li>
      Migrated the infrastructure from Windows Server to Linux. Also,
      containerized the applications.
    </li>
  </ul>

  <p class="font-bold">2015 - 2018 / Asert IT</p>
  <ul>
    <li>Adopted containers in production.</li>
    <li>Developed and launched 3 mobile apps (Android and iOS).</li>
    <li>Configured CI/CD pipelines for the first time.</li>
    <li>Taught teammates how to use Git and NodeJS.</li>
    <li>Migrated the system version control from SVN to Git.</li>
  </ul>

  <p class="font-bold">2011 - 2015 / First job and internships</p>
  <ul>
    <li>
      At my first job, I worked with TDD and Agile development for the first
      time. It was a great source of knowledge and influenced all my
      professional career since then.
    </li>
    <li>I workerd with the best JVM framework, Groovy on Grails.</li>
    <li>
      At my interships, I learned how to work with Java, Javascript, Git, and
      Linux.
    </li>
    <li>
      in 2011 I had my first contact with Linux, since then I have never stopped
      using it.
    </li>
  </ul>
</AboutLayout>
