---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const shorts = await getCollection("short", ({ data }) => !data.draft);

// List of items to search in
const postList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  isShort: false,
  data,
}));
const shortList = shorts.map(({ data, body }) => ({
  title: data.title,
  description: data.description,
  isShort: true,
  data,
  body,
}));
---

<Layout title={`Search - ${SITE.author}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={[...postList, ...shortList]} />
  </Main>
  <Footer />
</Layout>
